body {
    background: #c8a2c8;
}

h1 { 
    text-align: center;
}

h2, h3{
    text-align: center;
    background-color: aliceblue;  
}

p {
    text-align: center;
}

.PoemHeader{
    text-align: center;
}

#AbbeyCt{ 
    text-align: center; 
}
.column{
  width: 55%;
  padding: 10px;
  display: flex;
  text-align: left;
  background-color: aliceblue;
}
